* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* you can change this to your likness */
    --car-width: 400px;
}
header {
    width: 100vw;
    height: 70vh;
}
#city-container {
    /* 
        you need to add a property here
        so children could move relative to parent
        what is it?
    */

    width: 100%;
    height: 100%;
    /* add background properties to give background image */

    /*
        add a transition: if you want to 
        change background-image on hover
    */
}
/* 
    both road-img and car-img
    need a property to
    move relative to their parent
    what is it?
*/
#road-img {
    height: 15vh;
    width: 100%;
}
#car-img {
    width: var(--car-width);
    /* 
        add transition with ease-in-out
        for car movement
    */
}

/* make the car move when road or car hovered */
#road-img:hover + #car-img,
#car-img:hover {
    /*
        care should move 100% of parent width
        minus car's width so it stays in view
        do not use transform!!! this is about positioning!
    */
}

/* 
    if you want change background when
    city container hovered 
*/
#city-container:hover {
    /* 
        you only need to change the image 
        url not its size or position
    */
}
